/* META ----------------------------------------------------------------------*/


/* HEADER --------------------------------------------------------------------*/
header h1 {
    padding: 10px 0px 10px 12px;
    margin: 0;
    background-color: #4CAF50;
    color: white;
}
header p {
    padding: 0px 0px 0px 20px;
    background-color: #f1f1f1;
}


/* SECTION -------------------------------------------------------------------*/

section nav {
  float: left;
  display: inline-block;
}
section nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}
section nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
section nav li a.active {
    background-color: #4CAF50;
    color: white;
}

/* Change the link color on hover */
section nav li a:hover {
    background-color: #555;
    color: white;
}


section article {
  float: left;
  padding: 20px;
  display: inline-block;
}

section:after {
    content: "";
    display: table;
    clear: both;
}

/* FOOTER --------------------------------------------------------------------*/
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}
